.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.blog-item {
    max-width: 380px;
}

.blog-item h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
}

.text-data {
    color: #818181;
    mix-blend-mode: normal;
}

.text-blog {
    line-height: 25px;
}

.title-line:hover {
    text-decoration:underline;
}

.title-line:active {
    text-decoration: underline;
}

.blog ul:last-child li:first-child {
    margin-right: 25%;
}

.blog ul:last-child li:last-child {
    margin-left: 25%;
}