.contact-main {
    display: flex;
    margin-bottom: 60px;
}


.support p {
    margin: 0;
    margin-bottom: 20px;
}

span {
    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
    opacity: 1;
}