.banner{
    background: #EEE4DB;
    height: 372px;
    margin-bottom: 129px;
}
.banner-text {
    font-family: Crimson Text;
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
}
