.filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 42px;
    padding-bottom: 42px;
}

.filter button {
    margin-top: 32px;
    margin-left: -60px;
}

.filter-color {
    background: #7D97DA33;
}

.name-filter {
    margin-bottom: 15px;
}

.toy-item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.range-view {
    display: flex;
    flex-direction: column;
}

.number-range {
    display: flex;
    justify-content: space-between;
}

.number-range p {
    margin: 0;
}

.label-toy {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.radio-amount {
    display: flex;
    overflow: hidden;
}

.radio-amount label {
    display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border:none;
    user-select: none;
    background: #FFFFFF;

}
.radio-amount input[type=radio]:checked + label {
    background: #F3D0DB;
}

.radio-amount label:hover {
    background: #EDDEEB;
}





.name-item {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #1E0606;
    margin: 0;
    margin-bottom: 15px;
}

.price-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1E0606;
    margin: 0;
    margin-bottom: 45px;
}

.learn-more {
    position: relative;
}

.learn-more::before {
    content: 'learn more';
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    text-transform: uppercase;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    background: #E5EAF8;
    opacity: 0.9;
    width: 207px;
    height: 207px;
    margin: 89px 86px 201px 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
}

.learn-more:hover.learn-more::before {
    visibility: visible;
}

.learn-more:active.learn-more::before {
    visibility: visible;
    opacity: 67%;
}


.page-number {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
    margin-bottom: 63px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.page-number li:first-child {
    margin-right: 25%;
}

.page-number li:last-child {
    margin-left: 25%;
}

.toys-href::before {
    content: url(/img/Vector\ \(Stroke\).png);
    position: absolute;
    margin-left: 76px;
}

